*{
    font-family: 'Nanum Myeongjo', serif;
}

.main_font{
    font-size: 40px;
}

.main_div{
    background-color:aquamarine;
    text-align: center;
}

.professor_font{
    color: cornflowerblue;
}